@font-face {
    font-family: 'FreestyleScript-Regular';
    src: url('FreestyleScript-Regular.eot?#iefix') format('embedded-opentype'),
    url('FreestyleScript-Regular.woff') format('woff'),
    url('FreestyleScript-Regular.ttf') format('truetype'),
    url('FreestyleScript-Regular.svg#FreestyleScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
